SUBSYSTEM=="hid", ACTION=="add", ENV{HID_ID}=="0003:0000099A:00002620", \
	RUN+="hid-rebind"
SUBSYSTEM=="hid", ACTION=="add", ENV{HID_ID}=="0003:0000256C:*", \
	RUN+="hid-rebind"
SUBSYSTEM=="input", ENV{ID_BUS}=="usb" ENV{ID_VENDOR_ID}=="256c", \
	ATTRS{name}=="* Touch *", ENV{ID_INPUT.tags}="low_res_touch"
SUBSYSTEM=="hid", ACTION=="add", ENV{HID_ID}=="0003:00005543:*", \
	RUN+="hid-rebind"
SUBSYSTEM=="hid", ACTION=="add", ENV{HID_ID}=="0003:00000458:*", \
	RUN+="hid-rebind"
SUBSYSTEM=="hid", ACTION=="add", ENV{HID_ID}=="0003:00002179:*", \
	RUN+="hid-rebind"
SUBSYSTEM=="hid", ACTION=="add", ENV{HID_ID}=="0003:000028BD:*", \
	RUN+="hid-rebind"
SUBSYSTEM=="hid", ACTION=="add", ENV{HID_ID}=="0003:00000543:0000E621", \
	RUN+="hid-rebind"
SUBSYSTEM=="hid", ACTION=="add", ENV{HID_ID}=="0003:00002133:00000018", \
	RUN+="hid-rebind"
ACTION!="remove", ENV{ID_VENDOR_ID}=="28bd", ENV{ID_MODEL_ID}=="0909", ENV{ID_INPUT_MOUSE}=="1", \
	ENV{ID_INPUT_TABLET}=""
ACTION!="remove", ENV{ID_VENDOR_ID}=="28bd", ENV{ID_MODEL_ID}=="0933", ENV{ID_INPUT_MOUSE}=="1", \
	ENV{ID_INPUT_TABLET}=""
ACTION!="remove", ENV{ID_VENDOR_ID}=="28bd", ENV{ID_MODEL_ID}=="0934", ENV{ID_INPUT_MOUSE}=="1", \
	ENV{ID_INPUT_TABLET}=""
