Source: digimend-dkms
Section: kernel
Priority: optional
Maintainer: Nikolai Kondrashov <spbnick@gmail.com>
Build-Depends: debhelper (>= 10), dkms
Standards-Version: 3.9.8
Homepage: https://github.com/DIGImend/digimend-kernel-drivers
Vcs-Git: https://github.com/DIGImend/digimend-kernel-drivers.git
Vcs-Browser: https://github.com/DIGImend/digimend-kernel-drivers

Package: digimend-dkms
Architecture: all
Depends: ${misc:Depends}, xserver-xorg-input-wacom
Description: Collection of graphics tablet drivers by DIGImend project
 This is a collection of graphics tablet drivers for the Linux kernel, produced
 and maintained by the DIGImend project.
 .
 See http://digimend.github.io/drivers/digimend/tablets/ for a list of
 supported tablet models.
